Import libraries

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import csv
import datetime as dt
import time as tm

Testing some functions in these libraries

In [2]:
x = [1000, 10, 100]

np_x = np.array(x)
np_x = np_x * 2

print(np_x)

dates = pd.date_range('20130101', periods=6)
print(dates)

[2000   20  200]
DatetimeIndex(['2013-01-01', '2013-01-02', '2013-01-03', '2013-01-04',
               '2013-01-05', '2013-01-06'],
              dtype='datetime64[ns]', freq='D')

Importing CLM Engagement file

In [3]:
df = pd.read_csv('test_egmt.csv')
df.groupby('Region').nunique()

,Division,Region,Cluster,Customer Segment,Registry Id,Customer Name,Customer Name (Original),Country,KA Flag,Top Broad Flag,...,Product Name,ARR CD,TCV CD,# Engagements,Level 4 Territory Name,Level 5 Territory Name,Level 6 Territory Name,Territory Name,Territory Owner E-mail,Territory Role
Region,,,,,,,,,,,,,,,,,,,,,
ANZ,1,1,3,6,386,382,382,3,2,2,...,265,1917,1922,1,6,7,13,115,108,13
ASEAN,1,1,8,5,266,263,263,13,2,2,...,194,1113,1159,1,9,10,15,95,89,10
Greater China,1,1,1,5,407,406,406,1,2,2,...,152,939,960,1,4,7,12,100,95,8
HK & TW,1,1,3,7,152,152,152,3,2,2,...,113,273,272,1,3,4,10,31,30,7
INDIA,1,1,1,6,284,277,277,1,2,3,...,210,1153,1160,1,7,9,19,120,115,12
KOREA,1,1,1,5,83,83,83,1,2,2,...,55,156,158,1,3,3,7,32,32,8

In [4]:
tm.time()

1508922921.5785937

In [5]:
dtnow = dt.datetime.fromtimestamp(tm.time())
dtnow

datetime.datetime(2017, 10, 25, 17, 15, 21, 599147)

In [6]:
dtnow.year, dtnow.month, dtnow.day, dtnow.hour

(2017, 10, 25, 17)

In [7]:
class Person:
    department = 'School of Information'
    
    def set_name(self, new_name):
        self.name = new_name
    def set_location(self, new_location):
        self.location = new_location

In [8]:
person = Person()
person.set_name('Christopher Brooks')
person.set_location('Ann Arbor, MI, USA')
print('{} lives in {} and works in the department {}'.format(person.name, person.location, person.department))

Christopher Brooks lives in Ann Arbor, MI, USA and works in the department School of Information

In [11]:
store1 = [10.00, 11.00, 12.34, 2.34]
store2 = [9.00, 11.10, 12.34, 2.01]
cheapest = map(min, store1, store2)
cheapest